<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../asset/css/style.css">
</head>
<body>
  <h2>登録内容の確認</h2>
  <form action="user-registered" method="post">
    <table>
      <tr>
        <td>ユーザー名</td>
        <td>{{.name}}</td>
      </tr>
    </table>
    <input type="hidden" name="name" value="{{.hid_name}}">
    <button type="button" class="btn-push" onclick="history.back()">入力画面に戻る</button>
    <input type="submit" class="btn-push btn-push-blue" value="この内容で登録する">
  </form>
</body>
</html>
