<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../asset/css/style.css">
</head>
<body>
  <h2>ユーザ一覧</h2>
  <button type="button" class="btn-push btn-push-blue" onclick="location.href='./user-form'">ユーザー追加</button>
  <table class="list">
    <tr>
      <th>ID</th>
      <th>ユーザ名</th>
      <th>登録日時</th>
      <th></th>
      <th></th>
    </tr>
    {{ range . }}
    <tr>
      <td>{{.Id}}</td>
      <td>{{.Name}}</td>
      <td>{{.Created}}</td>
      <td><a href="./user-edit?id={{.Id}}">ユーザー名変更</a></td>
      <td><a href="./post-form?user_id={{.Id}}">つぶやく</a></td>
    </tr>
    {{ end }}
  </table>
</body>
</html>
